body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    background-color: black;
    background-image:url(images/texture1.jpg);
  }

header {
    background-color: #333;
    color: white;
    padding: 25px;
    margin: 0;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
}

nav ul {
list-style: none;    
margin: 0;
padding: 10px;
font-family: sans-serif;
background-color: #333;
text-align: center;
}

nav li {
display: inline-flex;
padding:10px;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid seashell;
}

li a:hover{
    background-color: #111;
}

.animate {
    font: bold 3em sans-serif;
    font-size: 48pt;
    text-align: center;
    color:blue;
    animation: myAnimation 5s ease 1s 3 alternate forwards;
}
@keyframes myAnimation {
    33% {
      text-shadow: 2px 2px 2px black;
    }
    66% {
      text-shadow: -2px -2px 2px black;
    }
    100% {
      text-shadow: 0px 0px 10px black;
    }
  }

section {
 width: 700px;   
 margin: 0 auto;
 text-align: center;
 border: 20px solid #333;
}

.frame {
position: relative;
border: 20px solid white;
}

figcaption {
    background-color: #333;
    color: #ffffff;
    padding: 2px;
    font-style: italic;
    text-align: center;
}
.controls {
    padding-top: 5%;
    padding-bottom: 10%;
}
.back-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.back-btn:hover {
    background-color: #111;
}
.back-btn::active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .next-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.next-btn:hover {
    background-color: #111;
}
.next-btn::active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.slide {
    display:block;
    width: 100%;
}

.hide {
    display: none;
}

.current {
    transition: opacity .5s ease-out;
}

.spacer{
    padding: 2rem;
}
.wrapper {
text-align: center;
padding:2%;
margin-bottom: 5%;
}
h3 {
    font-size: 36pt;
    color: #333;
}
p{
    font-weight: semibold;
}
.container {
    width: 300px;
    margin: 0 auto; 
    margin-bottom: 10%;
    border: 10px solid white;
    text-align: center;
    border-radius: 10px;
}
form{
    padding: 5%;
    background-color:#999;
    border-radius: 10px;
}
footer{
    background-color: #333;
    color: white;
    padding: 25px;
    text-align: center;
}